<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>ShipReservationPractice</display-name>
  <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    	<description>
    	</description>
    	<display-name>
    	ShipServlet</display-name>
    	<servlet-name>ShipServlet</servlet-name>
    	<servlet-class>
    	com.spring.servlet.ShipServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>ShipServlet</servlet-name>
    	<url-pattern>/ShipServlet</url-pattern>
    </servlet-mapping>
    <servlet>
    	<description>
    	</description>
    	<display-name>
    	RouteServlet</display-name>
    	<servlet-name>RouteServlet</servlet-name>
    	<servlet-class>
    	com.spring.servlet.RouteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>RouteServlet</servlet-name>
    	<url-pattern>/RouteServlet</url-pattern>
    </servlet-mapping>
</web-app>